@charset "utf-8";
/*Colors the background a fabulous p!nk*/
body {
    background-color: #fff7db;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 70px;   
}

button {
    margin-top: 50px;
}

.header {
    background-color: #ff75c1;/*Changes color*/
    padding: 50px 50px;/*Adds some good ol' padding to protect our header*/
    color: white;
    text-align: center;/*Makes the text show up in the center of the square, it look unprofessional otherwise*/
}
