.light {
  background-color: rgb(214, 214, 214);
}

 .dark {
  background-color: rgb(105, 105, 105);
} 



.grid-container { 
    display: grid;
    grid-template-columns: 280px 280px 280px;
    /* background-color: red; */
    padding: 8px;
    height: 580px;
    align-items: center;
    justify-content: center;
  }

  
.box1 {
      background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin-right: 8px;
  }

  .box2 {
      background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
  }

  .box3 {background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin-left: 8px;
  }

  .box4 {
      background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin-right: 8px;

  }

  .box5 {
      background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
  }

  .box6 {
      background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin-left: 8px;
  }

  .grid-items {
      height: 165px;
      padding: 2px;
      padding-right: 2px;
      padding-left: 2px;
      text-align: center;
      font-size: 30px 

  }
